In [1]:
#importamos las librerias adecuadas para la limpieza del modelo. 

import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
from scipy import stats

Importamos nuestro modelo train.

In [2]:
df = pd.read_csv('../data/diamonds-datamad0620/train.csv')

shape and data types of the data

In [3]:
print(df.shape)
print(df.dtypes)

(40455, 11)
id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

Hacemos check del missing data.

In [ ]:
cols = df.columns
colours = ['#000099', '#ffff00'] #Amarillo falta no falta, azul falta.
sns.heatmap(df[cols].isnull(), cmap=sns.color_palette(colours))
#Como podemos comprobar nuestro modelo esta limpisimo.

A continuación convertimos los datos categoricos a númericos. Hacemos este paso previo a buscar outliers.

In [ ]:
df_numeric = pd.get_dummies(df)

In [ ]:
print(df_numeric.shape)
print(df_numeric.dtypes)

In [ ]:
df_numeric.head(5)

Según la base de datos, table es la multiplicacion de X,Y,Z por lo que la eliminamos de nuestra base de datos ya que es informacion que podría ser dedundante.

In [ ]:
df_numeric.drop(["id","depth"],axis=1,inplace=True)

In [ ]:
df_numeric.head(1)

In [ ]:
data = df_numeric

f, ax = plt.subplots(figsize=(7, 7))
corr = data.corr()
ax = sns.heatmap(
    corr, 
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
);

Comprobamos que carat y  X,Y,Z son los valores con una correlacion positiva más alta.

A continuación procedemos a limpiar de outliers nuestro dataset.

In [ ]:
df_numeric.describe()

Podemos observar como existen valores en X,Y,Z que son 0, por lo que creo que son valores nulos.

In [ ]:
df_no_outliers = df_numeric[(np.abs(stats.zscore(df_numeric)) < 4.9).all(axis=1)]

In [ ]:
print(df_no_outliers.shape)

In [131]:
pd.set_option('display.max_columns', None) 
df_no_outliers.describe()

,carat,depth,x,y,z,price,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
count,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.0,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000,39048.000000
mean,0.805831,61.749613,5.754511,5.755741,3.553315,3960.477336,0.092706,0.391236,0.258374,0.228898,0.185464,0.176475,0.203698,0.153222,0.101721,0.052576,0.0,0.251076,0.174682,0.157370,0.235710,0.071118,0.096830
std,0.471857,1.397277,1.115584,1.107779,0.689033,3976.097286,0.290024,0.488033,0.437746,0.420129,0.388679,0.381229,0.402752,0.360206,0.302285,0.223189,0.0,0.433637,0.379700,0.364154,0.424447,0.257024,0.295729
min,0.200000,55.000000,3.730000,3.680000,1.070000,326.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,4.740000,4.740000,2.930000,956.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.710000,61.900000,5.720000,5.730000,3.540000,2469.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.050000,62.500000,6.550000,6.550000,4.040000,5384.250000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.110000,68.700000,9.510000,9.460000,6.160000,18818.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Hemos ido cambiando el valor de Z hasta conseguir que los valores númericos todos tengan un valor.Así nos quitamos los nulos escondidos.

In [132]:
df_no_outliers.to_csv('../Data/diamonds_output/Cleaned_diamonds.csv',index=False)