In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib

In [9]:
df = pd.read_csv('../data/diamonds-datamad0620/predict.csv')

In [10]:
df.drop(["id","depth"], axis=1, inplace=True)

In [11]:
df.head()

   carat    cut color clarity  table     x     y     z
0   2.36  Ideal     I     SI2   54.0  8.68  8.57  5.24
1   2.04  Ideal     H     SI2   56.0  8.18  8.23  5.09
2   0.51  Ideal     I     SI1   54.0  5.18  5.19  3.20
3   0.30  Ideal     I     SI1   56.0  4.32  4.33  2.65
4   0.96   Fair     H     VS2   56.0  6.11  5.98  4.16

In [12]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

carat - 0.0%
cut - 0.0%
color - 0.0%
clarity - 0.0%
table - 0.0%
x - 0.0%
y - 0.0%
z - 0.0%

In [17]:
df_numeric = pd.get_dummies(df)

In [18]:
df_numeric.to_csv('../Data/diamonds_output/predict_submit.csv',index=False)