In [13]:
## for data
import pandas as pd
import numpy as np
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for statistical tests
import scipy
import statsmodels.formula.api as smf
import statsmodels.api as sm
## for machine learning
from sklearn import model_selection, preprocessing, feature_selection, ensemble, linear_model, metrics, decomposition
## for explainer
from lime import lime_tabular
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
dtf = pd.read_csv('../Data/diamonds-datamad0620/Cleaned_diamonds_no_outliers.csv')

In [15]:
dtf

,carat,depth,x,y,z,price,color_E,color_F,color_G,color_H,color_I,color_J
0,0.30,62.8,4.29,4.31,2.70,605,0,1,0,0,0,0
1,0.34,62.6,4.46,4.49,2.80,565,1,0,0,0,0,0
2,0.40,60.3,4.70,4.75,2.85,720,0,0,0,0,0,0
3,0.40,61.8,4.72,4.74,2.92,793,0,0,0,1,0,0
4,0.90,61.0,6.10,6.13,3.73,4381,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
36937,0.32,61.5,4.41,4.43,2.72,862,0,0,0,0,0,0
36938,0.30,60.9,4.32,4.35,2.64,710,0,0,0,0,0,0
36939,0.47,62.7,4.97,4.99,3.12,931,0,0,1,0,0,0
36940,0.40,63.5,4.68,4.70,2.98,807,0,0,1,0,0,0
36941,2.02,62.3,7.97,8.04,4.99,15064,0,0,0,1,0,0

In [16]:
y = dtf["price"]

In [17]:
dtf.drop("price",axis=1,inplace=True)

In [18]:
dtf

,carat,depth,x,y,z,color_E,color_F,color_G,color_H,color_I,color_J
0,0.30,62.8,4.29,4.31,2.70,0,1,0,0,0,0
1,0.34,62.6,4.46,4.49,2.80,1,0,0,0,0,0
2,0.40,60.3,4.70,4.75,2.85,0,0,0,0,0,0
3,0.40,61.8,4.72,4.74,2.92,0,0,0,1,0,0
4,0.90,61.0,6.10,6.13,3.73,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
36937,0.32,61.5,4.41,4.43,2.72,0,0,0,0,0,0
36938,0.30,60.9,4.32,4.35,2.64,0,0,0,0,0,0
36939,0.47,62.7,4.97,4.99,3.12,0,0,1,0,0,0
36940,0.40,63.5,4.68,4.70,2.98,0,0,1,0,0,0
36941,2.02,62.3,7.97,8.04,4.99,0,0,0,1,0,0

In [19]:
X_train, X_test, y_train, y_test = train_test_split(dtf, y, test_size=0.2, random_state=0)

In [20]:
first_model = linear_model.LinearRegression()

In [21]:
first_model = first_model.fit(X_train,y_train)

print(first_model.intercept_)
print(first_model.coef_)

8691.228676009841
[12988.42903228   -48.29478702 -3662.79064478  2517.44220221
 -1480.08918904   -94.60240769   -44.3542413    -87.67143218
  -705.39280926 -1114.08206723     0.        ]

In [22]:
Predict = first_model.predict(X_test)
print(Predict)

[ 7004.13369724  5418.30194767 14055.89277924 ...  1314.89413146
  9610.17800869  1194.18194507]

In [25]:
price_score = first_model.score(X_test,y_test)
print(f"El modelo ha predecido un total de {round(price_score*100)}%")

El modelo ha predecido un total de 88.0%

In [27]:
print(mean_squared_error(y_test, Predict))
print(first_model.score(X_train, y_train))
print(first_model.score(X_test, y_test))

1425900.839680848
0.8796014462043448
0.8790618005461643

In [13]:
dtf1 = pd.read_csv('../Data/diamonds-datamad0620/predict1_with_outliers.csv')

In [14]:
dtf1.shape

(13485, 11)

In [15]:
dtf2 = pd.read_csv('../Data/diamonds-datamad0620/predict2_no_outliers.csv')

In [16]:
Predict1 = first_model.predict(dtf1)

In [17]:
Predict1

array([17319.30559975, 14711.22217496,   577.44114062, ...,
        4745.83079214,  1063.43569395,  2477.61297017])

In [18]:
df_result = pd.DataFrame(Predict1)

In [19]:
df_result

                  0
0      17319.305600
1      14711.222175
2        577.441141
3       -331.762327
4       3649.528894
...             ...
13480   1725.869880
13481   5739.163643
13482   4745.830792
13483   1063.435694
13484   2477.612970

[13485 rows x 1 columns]

In [20]:
df_result.rename(columns={0: 'price'}, inplace=True)

In [21]:
df_result.index.names = ['id']

In [22]:
df_result

              price
id
0      17319.305600
1      14711.222175
2        577.441141
3       -331.762327
4       3649.528894
...             ...
13480   1725.869880
13481   5739.163643
13482   4745.830792
13483   1063.435694
13484   2477.612970

[13485 rows x 1 columns]

In [23]:
df_result.to_csv('../Data/diamonds-datamad0620/First_try_get_dummieis_outliers_3.csv')

In [24]:
final = pd.read_csv('../Data/diamonds-datamad0620/First_try_get_dummieis_outliers_3.csv')

In [25]:
final

          id         price
0          0  17319.305600
1          1  14711.222175
2          2    577.441141
3          3   -331.762327
4          4   3649.528894
...      ...           ...
13480  13480   1725.869880
13481  13481   5739.163643
13482  13482   4745.830792
13483  13483   1063.435694
13484  13484   2477.612970

[13485 rows x 2 columns]

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import NearestCentroid

In [27]:
models = {
    "Tree" : DecisionTreeClassifier(),
    "RandomForest" : RandomForestClassifier(),
    "Centroid": NearestCentroid(),
    "SVC": SVC()
}

In [28]:
for name, model in models.items():
    print(f"Training {name}")
    model.fit(X_train,y_train)
print("He acabado :) ")

Training Tree
Training Centroid
Training SVC
He acabado :)

In [40]:
clf = DecisionTreeClassifier()

In [41]:
clf = clf.fit(X_train,y_train)

In [54]:
y_pred = clf.predict(dtf1)

In [55]:
y_pred

array([15825, 15618,   991, ...,  6360,   716,  2141])

In [56]:
df_result_tree = pd.DataFrame(y_pred)

In [57]:
df_result_tree.rename(columns={0: 'price'}, inplace=True)

In [58]:
df_result_tree.index.names = ['id']

In [59]:
df_result_tree.to_csv('../Data/diamonds-datamad0620/First_try_get_dummieis_outliers_4_tree.csv')

In [60]:
df_result_tree

       price
id
0      15825
1      15618
2        991
3        608
4       1637
...      ...
13480   1827
13481   3563
13482   6360
13483    716
13484   2141

[13485 rows x 1 columns]

In [76]:
clf_centroid = NearestCentroid()

In [77]:
clf_centroid = clf.fit(X_train,y_train)

In [78]:
y_pred_centroid = clf.predict(dtf1)

In [79]:
df_result_centroid = pd.DataFrame(y_pred_centroid)

In [80]:
df_result_centroid.rename(columns={0: 'price'}, inplace=True)

In [81]:
df_result_centroid.index.names = ['id']

In [84]:
df_result_centroid.to_csv('../Data/diamonds-datamad0620/First_try_get_dummieis_outliers_3_centroid.csv')

In [83]:
df_result_centroid

       price
id
0      15424
1      15717
2        991
3        506
4       3353
...      ...
13480   1827
13481   5817
13482   6360
13483    716
13484   1823

[13485 rows x 1 columns]